<!DOCTYPE html>
<html>
<head>
    <title>Resume - Edit</title>
</head>
<body>
<h1>Edit Resume</h1>
<form action="/resume/update" method="get">
    <input
            type="hidden"
            id="resume_id"
            name="resume_id"
            value="<%= resume.resume_id %>"
    />
    Resume Name: <input
            name="resume_name"
            type="text"
            value="<%= resume.resume_name %>"
    />
    <br />
    Account:
    <select name="account_id">
        <%for (var i = 0; i < account.length; i++) {
            var selected = "";
            if(account[i].account_id == resume.account_id) {selected="selected"; console.log(selected);} else {console.log(account[i].account_id); console.log(resume.account_id);}
             %>
            <option id="<%= account[i].account_id %>" value="<%= account[i].account_id %>" <%= selected %>><%= account[i].first_name + ", " + account[i].last_name %></option>
        <% } %>
    </select>
    <br />
    <input type="submit" />

</form>
</body>
</html>